<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/g1"
        android:label="Ceilão.Grid"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/g1"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARlandMeasuretest33"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Welcome_screen"
            android:exported="false"
            android:label="Welcome Screen" />
        <activity
            android:name=".Create_account"
            android:exported="false" />
        <activity
            android:name=".getstartedpage"
            android:exported="true" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LocationSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".PlantRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".WateringCycleActivity"
            android:exported="false" />
        <activity
            android:name=".Report"
            android:exported="false" />
        <activity
            android:name=".PricePredictionActivity"
            android:exported="false" />
        <activity
            android:name=".Getstart2"
            android:exported="false" />
        <activity
            android:name=".Getstart3"
            android:exported="false" />
        <activity
            android:name=".Getstart4"
            android:exported="false" />
        <activity
            android:name=".TipsActivity"
            android:exported="false" />
        <activity
            android:name=".PlantInformationActivity"
            android:exported="false" />
        <activity
            android:name=".PlantDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PlantInformationDetailActivity"
            android:exported="false" />
    </application>

</manifest>